VITE_THESPORTSDB_API_KEY=811092
VITE_THESPORTSDB_V1_BASE_URL=https://www.thesportsdb.com/api/v1/json
VITE_THESPORTSDB_V2_BASE_URL=https://www.thesportsdb.com/api/v2/json
VITE_ENABLE_QUERY_DEVTOOLS=true
